## Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
 b()
 b()
 b()
 a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b() #calling function b , it makes a=0+2=2

In [3]:
b()#calling function b , it makes a=2+2=4

In [4]:
b()#calling function b , it makes a=4+2=6

In [5]:
a #tells the final value stored in a

6

## Question 2
Function fileLength(), given to you, takes the name of a file as input and returns <br>
the length of the file: <br>
 fileLength('midterm.py') <br>
284<br>
 fileLength('idterm.py')<br>
Traceback (most recent call last):<br>
File "<pyshell#34>", line 1, in module<br>
 fileLength('idterm.py')<br>
File "/Users/me/midterm.py", line 3, in fileLength<br>
 infile = open(filename)<br>
FileNotFoundError: [Errno 2] No such file or directory:<br>
'idterm.py'<br>
As shown above, if the file cannot be found by the interpreter or if it cannot be read<br>
as a text file, an exception will be raised. Modify function fileLength() so that a<br>
friendly message is printed instead:<br>
 fileLength('midterm.py')<br>
358<br>
 fileLength('idterm.py')<br>
File idterm.py not found.<br>

In [6]:
file = open('midterm.txt','a')
file.write('hi , this is made for problem number 2 exception handling question')
file.close()

In [7]:
def fileLength(a):
    try:
        file = open(a)
        length = len(file.read())
        return length
    except:
        print('file',a,'not found')

In [8]:
fileLength('midterm.txt')    #this number may seem false because I ran my notebook several times

726

In [9]:
fileLength('idterm.txt')

file idterm.txt not found

## QUESTION-3
Write a class named Marsupial that can be used as shown below: <br>
 m = Marsupial() <br>
 m.put_in_pouch('doll')<br>
 m.put_in_pouch('firetruck')<br>
 m.put_in_pouch('kitten')<br>
 m.pouch_contents()<br>
['doll', 'firetruck', 'kitten']<br>
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the<br>
attributes of Marsupial and also:<br>
a. extends the Marsupial __init__ constructor to take, as input, the<br>
coordinates x and y of the Kangaroo object,<br>
b. supports method jump that takes number values dx and dy as input and<br>
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and<br>
c. overloads the __str__ operator so it behaves as shown below.<br>
 k = Kangaroo(0,0)<br>
 print(k)<br>
I am a Kangaroo located at coordinates (0,0)<br>
 k.put_in_pouch('doll')<br>
 k.put_in_pouch('firetruck')<br>
 k.put_in_pouch('kitten')<br>
 k.pouch_contents()<br>
['doll', 'firetruck', 'kitten']<br>
 k.jump(1,0)<br>
 k.jump(1,0)<br>
 k.jump(1,0)<br>
 print(k)<br>
I am a Kangaroo located at coordinates (3,0)<br>

In [10]:
class Marsupial:
    
    def __init__(self):
        self.lst = []

    #Add to list
    def put_in_pouch(self, item):
        self.lst.append(item)

    #Return List
    def pouch_contents(self):
        return self.lst

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [11]:
class Marsupial:
    
    def __init__(self):
        self.lst = []

    #Add to list
    def put_in_pouch(self, item):
        self.lst.append(item)

    #Return List
    def pouch_contents(self):
        return self.lst


class Kangaroo(Marsupial):

    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y

    def jump(self,dx,dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)


k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## Question 4
Write function collatz() that takes a positive integer x as input and prints the<br>
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying<br>
this rule to the previous number x in the sequence:<br>
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [12]:
def Collatz(x):

    while x != 1:
        print(x, end = ' ')
 
        # if x is odd
        if x & 1:
            x = 3 * x + 1
 
        # if even
        else:
            x = x // 2
    print(x)

In [13]:
Collatz(1)

1

In [14]:
Collatz(10)

10 5 16 8 4 2 1

## Question 5
Write a recursive method binary() that takes a non-negative<br>
integer n and prints the binary representation of integer n.<br>
 binary(0)<br>
0
 binary(1)<br>
1
 binary(3)<br>
11
 binary(9)<br>
1001

In [15]:
def binary(decimal_number):
    if decimal_number == 0:
        return 0
    elif decimal_number > 0:
        return (decimal_number % 2 + 10 *
                binary(int(decimal_number // 2)))
    else:
        print('please enter non-negative number')
binary(9)

1001

In [16]:
binary(0)

0

In [17]:
binary(3)

11

In [18]:
binary(1)

1

## Question 6
Implement a class named HeadingParser that can be used to parse an HTML<br>
document, and retrieve and print all the headings in the document. You should<br>
implement your class as a subclass of HTMLParser, defined in Standard Library<br>
module html.parser. When fed a string containing HTML code, your class should<br>
print the headings, one per line and in the order in which they appear in the<br>
document. Each heading should be indented as follows: an h1 heading should have <br>
indentation 0, and h2 heading should have indentation 1, etc. Test your<br>
implementation using w3c.html.<br>
 infile = open('w3c.html')<br>
 content = infile.read()<br>
 infile.close()<br>
 hp = HeadingParser()<br>
 hp.feed(content)<br>
 W3C Mission<br>
 Principles<br>

In [46]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    headerFlag = False
    indent = 0
    
    def handle_starttag(self, tag, attrs):      
        if tag == "h1":
            self.headerFlag = True
            self.indent= 0
        elif tag == "h2":
            self.headerFlag = True
            self.indent= 1
        elif tag == "h3":
            self.headerFlag = True
            self.indent= 2
        elif tag == "h4":
            self.headerFlag = True
            self.indent= 3
        elif tag == "h5":
            self.headerFlag = True
            self.indent= 4
        elif tag == "h6":
            self.headerFlag = True
            self.indent= 5
        else:
            self.headerFlag = False
            self.indent= 0
    
    def handle_data(self, data):                
        if self.headerFlag: 
            space = " "*self.indent
            print("%s%s" % (space,data))
    
    def handle_endtag(self, tag):
        
        if tag in ["h1","h2","h3","h4","h5","h6"]:
            self.headerFlag = False


hParser = HeadingParser()

file = open("w3c.html", "r")
         
html = file.read()                  
 
file.close()    
                
hParser.feed(html)

W3C Mission
 Principles

## Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and<br>
non-negative integers depth and indent. Your function should visit every web<br>
page reachable from the starting URL web page in depth clicks or less, and print<br>
each web page's URL. As shown below, indentation, specified by indent, should<br>
be used to indicate the depth of a URL.<br>
<br>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'<br>
, 2, 0)<br>
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html<br>
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html<br>
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html<br>
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html<br>
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html<br>

In [23]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    

    def __init__(self, url):
        
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        
        return self.links

In [26]:
def webdir(url, depth, indent):
        for i in range(indent+1):
            print("\t",end='')
        print(url)
    
        
        content = urlopen(url).read().decode()
        collector = Collector(url)
        collector.feed(content)
        urls = collector.getLinks()
    
        for o in range(depth):
            try:                    
                webdir(urls[o], depth-1, indent+1)
            except:
                pass

In [25]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html',2,0)

	http://reed.cs.depaul.edu/lperkovic/test1.html
		http://reed.cs.depaul.edu/lperkovic/test2.html
			http://reed.cs.depaul.edu/lperkovic/test4.html
		http://reed.cs.depaul.edu/lperkovic/test3.html
			http://reed.cs.depaul.edu/lperkovic/test4.html

## Question 8
Write SQL queries on the below database table that return:<br>
a) All the temperature data.<br>
b) All the cities, but without repetition.<br>
c) All the records for India.<br>
d) All the Fall records.<br>
e) The city, country, and season for which the average rainfall is between 200<br>
and 400 millimeters.<br>
f) The city and country for which the average Fall temperature is above 20<br>
degrees, in increasing temperature order.<br>
g) The total annual rainfall for Cairo.<br>
h) The total rainfall for each season.<br>

In [34]:
import sqlite3
connection = sqlite3.connect('temp.db')
cursor = connection.cursor()
cursor.execute("CREATE TABLE question8t (city text, country text, season text,temperature real, rainfall real)")

In [35]:
cursor.execute("INSERT INTO question8t VALUES ('Mumbai','India','Winter',24.8,5.9 )")
cursor.execute("INSERT INTO question8t VALUES ('Mumbai','India','Spring',28.4,16.2 )")
cursor.execute("INSERT INTO question8t VALUES ('Mumbai','India','Spring',28.4,16.2 )")
cursor.execute("INSERT INTO question8t VALUES ('Mumbai','India','Summer',27.9,1549.4 )")
cursor.execute("INSERT INTO question8t VALUES ('Mumbai','India','Fall',27.6,346.0 )")
cursor.execute("INSERT INTO question8t VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cursor.execute("INSERT INTO question8t VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cursor.execute("INSERT INTO question8t VALUES ('London','United Kingdom','Summer',15.7,157.0)")
cursor.execute("INSERT INTO question8t VALUES ('London','United Kingdom','Fall',10.4,218.5)")
cursor.execute("INSERT INTO question8t VALUES ('Cairo','Egypt','Winter',13.6,16.5 )")
cursor.execute("INSERT INTO question8t VALUES ('Cairo','Egypt','Spring',20.7,6.5 )")
cursor.execute("INSERT INTO question8t VALUES ('Cairo','Egypt','Summer',27.7,0.1 )")
cursor.execute("INSERT INTO question8t VALUES ('Cairo','Egypt','Fall',22.2,4.5 )")

In [36]:
connection.commit()

a.

In [38]:
cursor.execute('SELECT temperature FROM question8t')
cursor.fetchall()

[(24.8,),
 (28.4,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

b.

In [39]:
cursor.execute('SELECT Distinct city FROM question8t')
cursor.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

c.

In [40]:
cursor.execute("SELECT *  FROM question8t where country='India'")
cursor.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d.

In [41]:
cursor.execute("SELECT *  FROM question8t where season='Fall'")
cursor.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e.

In [42]:
cursor.execute("SELECT city,country,season FROM question8t WHERE rainfall BETWEEN 200 AND 400;")
cursor.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

f.

In [43]:
cursor.execute("SELECT city,country FROM question8t WHERE temperature > 20 and season='Fall' Order by temperature ASC;")
cursor.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

g.

In [44]:
cursor.execute("SELECT SUM(rainfall)FROM question8t where city='Cairo'")
cursor.fetchall()

[(27.6,)]

h.

In [45]:
cursor.execute("SELECT SUM(rainfall),season FROM question8t GROUP BY Season")
cursor.fetchall()

[(569.0, 'Fall'), (208.5, 'Spring'), (1706.5, 'Summer'), (230.1, 'Winter')]

## Question 9
. Suppose list words is defined as follows:<br>
 words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',<br>
'the', 'lazy', 'dog']<br>
Write list comprehension expressions that use list words and generate the following<br>
lists:<br>
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',<br>
'LAZY', 'DOG']<br>
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',<br>
'lazy', 'dog']<br>
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list<br>
words).<br>
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',<br>
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],<br>
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',<br>
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list<br>
words, where each list contains the word in uppercase and lowercase and the<br>
length of the word.)<br>
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',<br>
'lazy', 'dog'] (the list of words in list words containing 4 or more<br>
characters<br>

In [24]:
 words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

A.

In [25]:
alist = [i.upper() for i in words ]

print(alist)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

B.

In [26]:
blist = [i.lower() for i in words ] 
print(blist)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

C.

In [27]:
clist = [len(i) for i in words ] 
print(clist)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

D.

In [31]:
dlist = [[i.upper(),i.lower(),len(i)] for i in words ] 
print(dlist)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

E.

In [33]:
dlist = [i for i in words if len(i)>=4 ] 
print(dlist)

['quick', 'brown', 'jumps', 'over', 'lazy']